{% extends "courses/base.html" %}


{% block title %}

    {{ discipline.title }}

{% endblock %}


{% block content %}


<div class="card">

    <h1>

        {{ discipline.title }}

    </h1>


    <p>

        {{ discipline.description|default:"Описание отсутствует." }}

    </p>


    <p>

        Автор:

        {{ discipline.created_by }}

    </p>


    <a
        class="button"
        href="
        {% url
        'courses:discipline_edit'
        discipline.slug
        %}
        "
    >

        Редактировать

    </a>


    <a
        class="button button-secondary"
        href="
        {% url
        'courses:discipline_list'
        %}
        "
    >

        Вернуться к списку

    </a>

</div>


<h2>
    Темы дисциплины
</h2>


{% for topic in discipline.topics.all %}

    <div class="card">

        <h3>

            {{ topic.order_number }}.

            {{ topic.title }}

        </h3>


        <p>

            {{ topic.description }}

        </p>

    </div>


{% empty %}

    <div class="card">

        Темы пока не добавлены.

    </div>

{% endfor %}


{% endblock %}